:root {
	font-family: 'Poppins', sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html,
body,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background-color: #000000;
}
::-webkit-scrollbar-thumb {
	background-color: #8405fa;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--scroll-thumb-hover, #8405fa);
}
